body {
  padding: 10px;
  margin: 0;
  min-width: 400px;
}

button {
  color: white;
  background-color: black;
  border: none;
  padding: 8px;
  font-weight: bold;
}
#input-el {
  width: 95%;
  margin-bottom: 6px;
  border: 1px solid rgb(0, 0, 0);
}

li a {
  text-decoration: none;
  color: white;
  background-color: black;
}
