<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Saver</title>
  </head>
  <body>
    <h1>App that sends info about server and displays it into the div below</h1>
    <div id="server-info"></div>
    <script src="./scripts/display_infos.js"></script>
  </body>
</html>
